@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap');

:root{
  --black:#192a56;
  --orange:#F95F1D;
  --yellow:#ffa801;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

section{
  padding:0 7%;
  padding-top: 7.5rem;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding:.7rem 2.5rem;
  font-size: 1.7rem;
  color:var(--yellow);
  border:.2rem solid var(--yellow);
  cursor: pointer;
  background:none;
}

.btn:hover{
  background:var(--yellow);
  color:#fff;
}

.heading{
  text-align: center;
  color:var(--black);
  padding:1rem;
  text-transform: uppercase;
  font-size: 4.5rem;
}

header{
  position: fixed;
  top:0; left:0;
  width:100%;
  z-index: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 7%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  z-index: 1000;
}

header .logo{
  font-size: 2.5rem;
  color:#666;
  font-weight: bolder;
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2.5rem;
  color:var(--black);
}

header .navbar a:hover{
  color:var(--orange);
}

#menu-bar{
  font-size: 3rem;
  color:var(--black);
  cursor: pointer;
  display: none;
}

  #container {
    position:absolute;
    left: 20%;
    top: 13%;
    background: transparent;
    border-radius: 10px;
    width: 1200px;
    height: 1000px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    zoom: 0.8;
  }
  #container #info {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 10px 0px 0px 0px;
  }
  #container #info label {
    color: #8A8A8C;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    float: left;
  }
  #container #info label + input, #container #info label + select {
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 300;
  }
  #container #info input[name=cardDate] {
    width: 160px;
    display: block;
    float: left;
    clear: left;
    text-align: center;
  }
  #container #info input[name=cvv] {
    width: 60px;
    float: right;
    text-align: left;
    padding: 0px;
  }
  #container #info label[for=cardDate] {
    display: block;
    width: 130px;
  }
  #container #info label[for=cvv] {
    float: right;
    margin-top: -24px;
  }
  #container #info #makePayment {
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    height: 10%;
    background: #363636;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #FFF;
    font-weight: 300;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
  #container #info #makePayment:hover {
    transform: translateY(-5px);
  }
  #container #description {
    float: right;
    width: 50%;
    height: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(233,196,148,1) 100%);
    text-align: center;
    border-radius: 0px 10px 10px 0px;
  }
  #container #description img {
    max-width: 80%;
    margin: auto;
    margin-top: 40px;
    transition: 0.5s ease;
  }
  #container #description img:hover {
    transform: scale(2);
  }
  #container #description #editOrder {
    width: 60%;
    margin: auto;
    background: none;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    height: 45px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
  }
  #container #description #editOrder:hover {
    transform: scale(1.15);
  }
  #container #description h1, #container #description h2, #container #descriptionh3 {
    margin: 0;
    color: #FFF;
  }
  #container #description h1 {
    font-size: 40px;
    font-weight: 500;
  }
  #container #description h2 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 60px;
  }
  #container #description h3 {
    margin-top: 5px;
    color: #FFF;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
  }


  